body {
    background-color: #f0f0f0; /* Light Gray */
    font-family: 'Lato', sans-serif;
}

.backgroundDiv {
    background-color: f0f0f0; /* White */
    width: 80%;
    margin: 0 auto; /* Center the content */
}

.headDiv {
    background-color: #333; /* Dark Gray */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topRow, .bottomRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

iframe {
    width: 100%;
    height: 350px;
}

/* Optional styles for individual elements */
.details, .map {
    background-color: #fff;
    flex: 1;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Additional styling for the "Get Directions" button */
.direction-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333; /* Dark Gray */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.direction-link:hover {
    background-color: #555; /* Slightly Darker Gray */
}

/* Media query for screens smaller than 900px */
@media (max-width: 900px) {
    .backgroundDiv {
        background-color: #f0f0f0;
        width: 100%;
        margin: 0;
    }

    .headDiv {
        background-color: #333; /* Dark Gray */
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .topRow, .bottomRow {
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        padding: 5%;
    }

    .details, .map {
        flex: none;
        width: 90%;
        padding: 5%;
    }
}
